[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
django = "==2.2.16"
zappa = "*"
boto3 = "*"
django-dotenv = "*"
pillow = "*"
djangorestframework = "*"
pyjwt = "*"
mysqlclient = "*"
mysql-connector-python = "*"
django-storages = "*"
sentry-sdk = "*"
django-countries = "*"
isodate = "*"
haversine = "*"

[requires]
python_version = "3.8"
