[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
django = "==2.2.16"
zappa = "==0.54.1"
boto3 = "*"
django-dotenv = "*"
pillow = "*"
djangorestframework = "*"
mysqlclient = "*"
mysql-connector-python = "*"
django-storages = "*"
sentry-sdk = "*"
django-countries = "*"
isodate = "*"
haversine = "*"
drf-yasg = "*"
djangorestframework-api-key = "==2.*"
pyjwt = "*"

[requires]
python_version = "3.8"
